body {
	background-color: #fffffb;
	color: #003366;
	font-family: Tahoma, Geneva, sans-serif;
}

.zipcode {
  stroke: #003366;
  fill: #fffffb;
}

h1 {
	font-weight: lighter;
	text-align: center;
	padding: 2%;
}

#content-parent {
	display: flex;
}

#chart {
	width: 50%;
	padding-left: 7%;
	overflow: visible;
}


#select-dataset {
	width: 20%;
	padding-right: 15%;
}