<!DOCTYPE html>
<html>
<head>
    <title>Chicago 311 Speed</title>

    <!-- external libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <!-- local javascripts -->
    <script type="text/javascript" src="static/chicagoZips.js"></script>
    <script type="text/javascript" src='static/drawChicago.js'></script>
    <script type="text/javascript" src='static/drawDots.js'></script>
    <script type="text/javascript">
        jQuery(document).ready(() => {
            // for item in datasets, add a radio button to the form
            // check the one that is selected
            for (let i = 0; i < {{datasets|safe}}.length; i++) {
                const name = {{datasets|safe}}[i]
                jQuery('#select-dataset').append(
                    '<input type="radio" name="which_dataset" id="' + name + '">' + name.replace('_', ' ') + '</input><br>'
                    )
            }

            const projection = drawChicago();
            const dotData = '{{apiData|tojson|safe}}';
            drawDots(projection, dotData);

        });
    </script>
    <!-- local stylesheet -->
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>
    <h1>Speed of Response to 311 Requests in Chicago by Zip Code</h1>
    <div id="content-parent">
        <svg id="chart" preserveAspectRatio="xMidYMin"></svg>
        <form id='select-dataset' method='POST' action='localhost:5000'>
        </form>
    </div>
</body>
</html>